adal==1.2.5
antlr4-python3-runtime==4.7.2
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
applicationinsights==0.11.9
arandr==0.1.10
argcomplete==1.12.2
asn1crypto==1.4.0
attrs==20.3.0
azure-appconfiguration==1.1.1
azure-batch==10.0.0
azure-cli==2.17.1
azure-cli-core==2.17.1
azure-cli-telemetry==1.0.6
azure-common==1.1.26
azure-core==1.9.0
azure-cosmos==3.2.0
azure-datalake-store==0.0.51
azure-functions-devops-build==0.0.22
azure-graphrbac==0.60.0
azure-keyvault==1.1.0
azure-keyvault-administration==4.0.0b2
azure-loganalytics==0.1.0
azure-mgmt-advisor==2.0.1
azure-mgmt-apimanagement==0.2.0
azure-mgmt-appconfiguration==0.6.0
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.61.0
azure-mgmt-batch==9.0.0
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==1.0.0
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==5.2.0
azure-mgmt-cognitiveservices==6.3.0
azure-mgmt-compute==18.0.0
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==3.0.0rc16
azure-mgmt-containerservice==9.4.0
azure-mgmt-core==1.2.2
azure-mgmt-cosmosdb==1.0.0
azure-mgmt-databoxedge==0.2.0
azure-mgmt-datalake-analytics==0.2.1
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==0.1.0
azure-mgmt-deploymentmanager==0.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==3.0.0rc7
azure-mgmt-eventhub==4.1.0
azure-mgmt-hdinsight==2.0.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==3.0.0
azure-mgmt-iothub==0.12.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==8.0.0
azure-mgmt-kusto==0.3.0
azure-mgmt-loganalytics==0.7.0
azure-mgmt-managedservices==1.0.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-media==2.2.0
azure-mgmt-monitor==0.11.0
azure-mgmt-msi==0.2.0
azure-mgmt-netapp==0.14.0
azure-mgmt-network==17.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.5.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==3.1.0rc1
azure-mgmt-recoveryservices==0.4.0
azure-mgmt-recoveryservicesbackup==0.6.0
azure-mgmt-redhatopenshift==0.1.0
azure-mgmt-redis==7.0.0rc2
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.6.0
azure-mgmt-resource==10.3.0
azure-mgmt-search==2.1.0
azure-mgmt-security==0.6.0
azure-mgmt-servicebus==0.6.0
azure-mgmt-servicefabric==0.5.0
azure-mgmt-signalr==0.4.0
azure-mgmt-sql==0.21.0
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==16.0.0
azure-mgmt-synapse==0.5.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.48.0
azure-multiapi-storage==0.5.2
azure-nspkg==3.0.2
azure-storage-common==1.4.2
azure-synapse-accesscontrol==0.2.0
azure-synapse-artifacts==0.3.0
azure-synapse-spark==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
btrfsutil==5.9
CacheControl==0.12.6
cachetools==4.2.0
caffeine-ng==3.4.2
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==2.9.2
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
duplicity==0.8.16
ewmh==0.1.6
fabric==2.5.0
fastapi==0.63.0
fasteners==0.15
filelock==3.0.12
future==0.18.2
gestures==0.2.3
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gufw==20.4.0
h11==0.12.0
html5lib==1.1
httplib2==0.18.1
humanfriendly==8.2
idna==2.10
invoke==1.5.0
isodate==0.6.0
javaproperties==0.5.1
Jinja2==2.11.2
jmespath==0.10.0
jsmin==2.2.2
jsondiff==1.2.0
knack==0.7.2
layoutswitcherlib==0.8.16
LibAppArmor==3.0.1
louis==3.16.0
MarkupSafe==1.1.1
mock==4.0.3
monotonic==1.5
msal==1.0.0
msal-extensions==0.1.3
msgpack==1.0.0
msrest==0.6.19
msrestazure==0.6.4
netsnmp-python==1.0a1
npyscreen==4.10.5
oauth2client==4.1.3
oauthlib==3.1.0
ordered-set==4.0.2
packaging==20.7
pacman-mirrors==4.19.1
paramiko==2.7.2
pep517==0.9.1
Pillow==8.0.1
pkginfo==1.6.1
ply==3.11
portalocker==1.7.1
progress==1.5
protobuf==3.12.4
psutil==5.7.3
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pydantic==1.7.3
PyDrive==1.3.1
Pygments==2.7.3
PyGObject==3.38.0
PyJWT==2.0.0
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmbc==1.0.23
python-dateutil==2.8.1
python-xlib==0.29
pytz==2019.1
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.5.56
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.0
resolvelib==0.5.3
retrying==1.3.3
rsa==4.6
scp==0.13.3
setproctitle==1.2.1
six==1.15.0
soupsieve==2.1
sshtunnel==0.1.5
starlette==0.13.6
tabulate==0.8.7
team==1.0
tldextract==3.1.0
toml==0.10.2
ueberzug==18.1.8
ufw==0.36
uritemplate==3.0.1
urllib3==1.25.10
uvicorn==0.13.3
vsts==0.1.25
vsts-cd-manager==1.0.2
webencodings==0.5.1
websocket-client==0.56.0
xmltodict==0.12.0
